@import url(header.css);
@import url(footer.css);

main{
    padding-top: 70px;
    color: white;
}
.contenedor-video{
    background: greenyellow;
    width: 100%;
    height: 200px;
    max-width: 500px;
    margin:auto;
    margin-bottom: 20px;
}
@media(min-width:700px){
    .contenedor-video{
        max-width: 800px;
        height: 400px;
    }
}
iframe{
    width: 100%;
    height: 100%;
}
.contenedor-img-desc{
   
    width: 100%;

}
.cont-img-sinop{
    width: 90%;
    
    margin: auto;
    display: flex;
    max-width: 800px;
    
}
.cont-img-sinop img{
    width: 45%;
    background: red;
    margin-right: 3%;
    
}
.cont-img-sinop p{
    text-align: justify;
    padding-right: 4%;
}
.cont-img-sinop h3{
    text-align: center;
    font-size: 30px;
    
    width: 90%;
    border-bottom: 2px solid red;
}




.baner-funciones {
    margin-top: 15px;
    background: rgb(210, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family:  sans-serif;
}
.menujq{
    padding-top: 15px;
    
}
.menujq ul {
    list-style: none;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .menujq a {
    display: block;
    padding: 10px;
   
    background: rgb(32, 30, 30);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
    
  }
  
  
  .menujq ul ul, .menujq ul ul ul {
    display: none;
    width: 100%;
  }
  .menujq ul ul a {
    padding-left: 20px;
    background: rgb(53, 48, 48);
    
  }
  .menujq ul ul ul .cont-hor {
    padding-left: 40px;
    background: rgb(110, 94, 94);
  }
  
  .cont-hor{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .horas{
      margin: 4px 15px 8px 15px;
      
      padding: 10px;
      border-radius: 8px;
      border: 3px solid rgb(255, 255, 255);
  }
  .menujq ul ul ul h2{
    font-size: 20px;
    margin-left: 8px;
    padding: none;
    background: brown;
    top: 0;
  }
  .tipo{
    background: rgb(110, 94, 94);
      padding-left: 40PX;
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .menujq i{
      margin-right: 8px;
  }
  
